<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535267910277-iujqo674arlrjo9p6tal13udq2mbfh3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535267910277-iujqo674arlrjo9p6tal13udq2mbfh3l</string>
	<key>API_KEY</key>
	<string>AIzaSyDU1vItd0kYgGJv5GzapvVDUX5-H74nOLU</string>
	<key>GCM_SENDER_ID</key>
	<string>535267910277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vistagram.vistagram</string>
	<key>PROJECT_ID</key>
	<string>vistagram-a4266</string>
	<key>STORAGE_BUCKET</key>
	<string>vistagram-a4266.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535267910277:ios:243a72349f1bff7633bfec</string>
</dict>
</plist>